body {
  font-family: "calibri", cursive;
  font-size: 20px;
  opacity: 0.8;
  background-image: url("https://images.pexels.com/photos/21696/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: contain;

  background-attachment: scroll;
}
h1 {
  font-family: "calibri", cursive;
  color: teal;
  font-size: 10px;
  text-decoration: underline;
  text-align: center;
}
p {
  text-align: center;
}
#quiz {
  background: aquamarine;
  padding: 20px 30px 20px 30px;
  width: 100%;
  border-radius: 20px;
}
input {
  margin-bottom: 30px;
}
#button {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 20px;
  color: black;
  padding-left: 600px;

  margin-top: 15px;
}
#button {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  transition-duration: 5s;
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  margin-left: 400px;
}
#after_submit {
  visibility: hidden;
  background: aquamarine;
  padding: 10px 20px 10px 20px;
  width: 300px;
  border-radius: 20px;
  font-size: 30px;
  margin-left: 350px;
}
#mc {
  display: inline-block;
}
#number_count {
  display: none;
}
